body {
    background-image: url("../images/wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 20px !important;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 16px !important;
}

.uk-list li a {
    text-decoration: none;
    color: #000;
}

.uk-subnav-pill > .uk-active > a {
  background-color: #E9CE2C !important;
}

.timeline {
    position: relative;
    padding: 10px 10px 10px 50px;
    max-width: 400px;
}

.timeline::before {
    content: '';
    width: 2px;
    background-color: #ececec;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
  }

  div.timelinecontent {
    padding: 20px 30px;
    background-color: #f8f8f8;
    position: relative;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  h3.title {
    font-size: 18px;
    font-weight: bold;
    color: #0c090d;
  }
  span.fecha {
      font-size: 14px;
  }
  p.content {
    font-size: 16px;
    margin: 10px 0 0 0;
    color: #222;
  }
  
  div.timelinecontent::before {
    content: '';
    border: 10px solid transparent;
    border-right-color: #f8f8f8;
    border-left: 0;
    position: absolute;
    top: 20%;
    left: -10px;
  }
  
  div.timelinecontent::after {
    content: '';
    background: #fff;
    border: 2px solid #051923;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -39px;
  }

  h3.uk-text-center {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (max-width: 600px) { 
    .uk-width-1-3 {
        width: 100% !important;
    }
    .uk-width-1-2 {
        width: 100% !important;
    }
  }